<%= provide(:title, "Portfolio") %>
<div class="portfolio">
	<div id="website" align="center">
		<h1>web</h1>
		<ul>
			<li>
				<div class="picture">
					<%= link_to image_tag("personal-website.png", alt:"This Website"), "https://github.com/JayGadi/personal-website" %>
				</div>
				<div class="details">
					<h2>This Website</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= link_to image_tag("railstutorial.png", alt:"Railstutorial Exercises"), "https://github.com/JayGadi/railstutorial_sample_app" %>
				</div>
				<div class="details">
					<h2>Railstutorial Exercises</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= link_to image_tag("rideable-restful.png", alt:"Rideable RESTful API"), "https://github.com/JayGadi/rideable_database" %>
				</div>
				<div class="details">
					<h2>Rideable RESTful API</h2>
				</div>
			</li>
		</ul>
	</div>
	<div id="mobile" align="center">
		<h1>mobile</h1>
		
		<ul>
			<li>
				<div class="picture">
					<%= link_to image_tag("rideable.png", alt:"Rideable Client"), "https://github.com/JayGadi/rideable_client" %>
				</div>
				<div class="details">
					<h2>Rideable Client</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= link_to image_tag("tic-hac-toe.png", alt:"Tic Hac Toe"), "https://github.com/JayGadi/tic_hac_toe" %>
				</div>
				<div class="details">
					<h2>Tic Hac Toe</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("hallowed-hog.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Hallowed Hog</h2>
				</div>
			</li>
		</ul>
		
	</div>
	<div id="networking" align="center">
		<h1>networking</h1>
		<ul>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Java</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Java</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Java</h2>
				</div>
			</li>
		</ul>
	</div>
	<div id="graphics" align="center">
		<h1>graphics</h1>
		<ul>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Photoshop</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Photoshop</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Photoshop</h2>
				</div>
			</li>
		</ul>
	</div>
	<div id="desktop" align="center">
		<h1>desktop</h1>
		<ul>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>C++</h2>
				</div>
			</li>
		</ul>
	</div>
</div>
