<%= provide(:title, "Portfolio") %>
<div class="portfolio">
	<div id="website" align="center">
		<h1>web</h1>
		<ul>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
		</ul>
	</div>
	<div id="mobile" align="center">
		<h1>mobile</h1>
		
		<ul>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
		</ul>
		
	</div>
	<div id="networking" align="center">
		<h1>networking</h1>
		<ul>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
		</ul>
	</div>
	<div id="graphics" align="center">
		<h1>graphics</h1>
		<ul>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
		</ul>
	</div>
	<div id="desktop" align="center">
		<h1>desktop</h1>
		<ul>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
			<li>
				<div class="picture">
					<%= image_tag("dummy-portfolio.png", alt:"My Picture") %>
				</div>
				<div class="details">
					<h2>Android</h2>
				</div>
			</li>
		</ul>
	</div>
</div>
