<footer class="footer">
	<div class="row">
		<div class="col-sm-4" align="center">
			<ul>
				<li><%= link_to "© 2016 Jay Gadi", root_path %></li>
			</ul>
		</div>
		<div class="col-sm-4" align="center">
			<ul>
				<li><%= link_to "home", root_path %></li>
				<li><%= link_to "about", about_path %></li>
				<li><%= link_to "portfolio", portfolio_path %></li>
				<li><%= link_to "blog", blog_path %></li>
				<li><%= link_to "contact", contact_path %></li>
			</ul>
		</div>
		<div class="col-sm-4" align="center">
			<ul>
				<li><%= link_to image_tag("github-logo.png", alt: "github"), "https://github.com/JayGadi" %></li>
				<li><%= link_to image_tag("linkedin-logo.png", alt: "linkedin"), "https://ca.linkedin.com/in/jay-gadi-04731a101" %></li>
				<li><%= link_to image_tag("twitter-logo.png", alt: "twitter"), "https://twitter.com/Jay_Gadi" %></li>
			</ul>
		</div>
	</div>
</footer>